/* -------------------------------- */
/*           Entire Site            */
/* -------------------------------- */

.container {
  padding-top: 30px;
  padding-bottom:30px;
}

li {
  list-style-type: none;
}

.form-control{
  margin:5px 5px 5px 5px;
}

.table-header{
  font-weight: bold;
}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  background-color: rgba(4,73,141, .1);
  color: rgb(4,73,141);
}

.page-header {
  font-size: 1.5em;
}

/* ----------------------------------------- */
/*           Navbar header                   */
/* ----------------------------------------- */

.nav-logo {
  width: 47px;
  position: relative;
  top: -14px;
}

.navbar-brand {
  font-size: 1.3em;
  color: white;
}

.navbar a.nav-link {
  font-size: 1.3em;
  color: white;
  font-weight: 300;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:active {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
    font-weight: 400;
}

.navbar-default .navbar-nav > li > a:focus {
    color: white;
    font-weight: 400;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
    font-size: 1.7em;
}

.dropdown-toggle {
  color: white;
  font-size: 1.4em;
  position: relative;
  top: 10px;
}

/* ----------------------------------------- */
/*        Following Question Page            */
/* ----------------------------------------- */

.following-qts-ul {
  padding: 0;
}


/* ----------------------------------------- */
/*           View Question Template          */
/* ----------------------------------------- */

.question-pic {
  width: 50px;
}

/* ----------------------------------------- */
/*           View Questions Page             */
/* ----------------------------------------- */

.show-closed-qs-btn {
  width: auto;
  word-wrap: break-word;
}

.single-question {
  margin: 5px auto;
  padding: 10px;
  width: 99%;
  background-color: #fff;
  max-width: 700px;
  display: block;
}

.question-headline {
  font-size: 1.4em;
  color: #04498D;
}

.navbar, .panel-title {
  background-color: #04498D;
  color: white;
}

.panel-heading {
  background-color: #04498D;
}

.panel-heading-custom {
  background-color: #04498D;
  height: 38px;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-body {
  background-color: #fff;
}

.view-question-btn {
  background-color: #fff;
  color: #04498D;
}

.view-question-btn:hover {
  background-color: rgb(209,209,209);
  color: #04498D;
}

.add-2-any-btn {
  display: inline;
  padding-left: 10px;
}

.panel-heading-custom a::after {
  font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: #fff;
}

/* ----------------------------------------- */
/*           Question Detail Page            */
/* ----------------------------------------- */

.question-text {
  width: 300px;
  height: 80px;
}

.themes{
  font-size: 11px;
  font-style: italic;
}
.created-by{
  font-size: 11px;
}
.datetimepicker{
  width: 300px;
}
.voteYes{
  background-color: green;
  padding: 30px, 30px, 30px 50px;
  font-size: 48px;
  font-weight: bold;
  width: 150px;
  text-align: center;
}

.voteYes a{
  text-decoration: none;
  color:black;
}
.voteYes a:hover{
  text-decoration: none;
  color:black;
}
.voteNo{
  background-color: red;
  padding: 30px, 30px, 30px 50px;
  font-size: 48px;
  font-weight: bold;
  width: 150px;
  text-align: center;
}
.voteNo a{
  text-decoration: none;
  color:black;
}
.voteNo a:hover{
  text-decoration: none;
  color:black;
}

.question-themes-list {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}

.theme-link {
  color: black;
  font-size: 11px;
  font-style: italic;
}

.theme-link:hover {
  color: black;
  text-decoration: underline;
}

.relevantInfo{
  color:grey;
  font-size: 13px;
  padding-left: 15px;
}

.view-question-list {
  margin: 10px;
  width: 100%;
}

.social-list {
  list-style-type: circle;
}

.social-link {
  font-size: 120%;
  margin: 5px;
  font-style: italic;
  color: black;
}

.submit-adjudication{
  margin-left: 60px;
}

a.question-link {
  display: inline;
}

.one-question-meta-data {
  display: block;
  padding: 3px 0px;
}

/* -------------------------------- */
/*       Add Question page          */
/* -------------------------------- */

.add-question-field {
  margin: 7px;
  width: 100%;
}

.deadline-div {
  margin: 5px;
  margin-left: 8px;
}

.submit-question-btn {
  margin: 4px;
  margin-left: 8px;
}

/* -------------------------------- */
/*       Leaderboard page          */
/* -------------------------------- */

.leaderboard {
  margin: 0px auto;
}

.leaderboard {
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  align:center;
}

.leaderboard-pic {
  width: 100px;
  padding: 10px;
}

.one-leader {
  border: thin darkblue solid;
  background-color: rgba(255,255,255,.9);
  margin: 10px;
}

/* -------------------------------- */
/*             Profile page         */
/* -------------------------------- */

#profile-pic {
  width: 200px;
  height: auto;
  padding: 10px;
}

.profile-info {
  font-size: 1.3em;
}

#edit-profile-btn {
  font-size: 10px;
  line-height: 10px;
}

#edit-profile-link {
  color: black;
  border: black solid 1px;
  padding: 0px 8px;
  background-color: rgba(220,220,220,.5);
  border-radius: 50px;
}

#save-profile-btn {
  font-size: 10px;
  line-height: 10px;
}

#save-profile-link {
  color: darkblue;
  border: darkblue solid 1px;
  padding: 0px 8px;
  background-color: rgba(135,206,250,.3);
  border-radius: 50px;
}

#question-record-div {
  margin-top: 15px;
}

.following-section {
  margin-top: 10px;
  padding-top: 15px;
}

.delete-account-option {
  background-color: lightgray;
  float: right;
  width: 500px;
  margin-top: 100px;
}

.changing-password {
  display: block;
}

.questions-you-answered-list {
  padding: 0px;
  float: left;
  clear: both;
}

.mypage-follows {
  font-style: italic;
  padding: 0px 5px;
  background-color: #04498D;
  border-radius: 5%;
  color: white;
  font-size: .9em;
}

/* -------------------------------------- */
/*           Adjudication Page            */
/* -------------------------------------- */

#judge-reason {
  margin: 5px 20px;
  position: relative;
  top: 30px;
  left: 28px;
  color: inherit;
  border-width: thin;
  border-color: #006dcc;
  border-radius: 5px;

}

/* ----------------------------------- */
/*           Dashboard Page            */
/* ----------------------------------- */

#edit-user-btn {
  border: #AFAFAF solid thin;
  background-color: #E9E9E9;
  padding: 3px 6px;
  color: black;
}

.user-table {
  display: table;
}

.user-row {
  display: table-row;
  font-style: italic;
  display: inline;

}

.one-user-table-li {
  position: relative;
  right: 40px;
  float: left;
}

.user-table-cell {
  display: table-cell;
  border: gray 1px solid;
}

.btn-table-cell {
  display: table-cell;
}

.username-col {width: 100px;}
.email-col {width: 200px}
.join-col {width: 100px}
.id-col {width: 200px}
.points-col {width: 50px}
.edit-col {width: 50px}
.del-col {width: 50px}

.user-row-btns {
  display: inline;
  float: right;
}
/* --------------------------------------- */
/*           Edit Question Page            */
/* --------------------------------------- */

#edit-question-headline {
  font-size: 17px;
  width: auto;
  margin: 10px 0px;
}

#description-label {
  position: relative;
  bottom: 15px;
  margin-top: 10px;
}

#edit-question-text {
  font-size: 14px;
  width: 650px;
  position: relative;
  top: 20px;
  left: 5px;
  margin-top: 0px;
}

.edit-question-themes {
  width: 600px;
}

#admin-console {
  background-color: rgba(184, 230, 230,.2);
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 1px;
  width: 150px;
  float: right;

}

/* ------------------------------------- */
/*        Login and Sign pages           */
/* ------------------------------------- */


.entry-field {
  margin: 5px 0px;
}

.external-logins {
  padding: 0;
  display: block;
}

.btn-social-login {
  margin-top: 10px;
  margin-bottom: 10px;
}

.customGPlusSignIn {
  margin:5px 0px;

}

/* --------------------------------------- */
/*       Google sign in icon               */
/* --------------------------------------- */


#customBtn-google {
     display: inline-block;
     background: #DD4B39;
     color: white;
     width: 135px;
     border-radius: 5px;
     white-space: nowrap;
   }

   #customBtn:hover {
     cursor: pointer;
   }
   span.label {
     font-weight: bold;
   }
   span.icon {
     background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
     display: inline-block;
     vertical-align: middle;
     width: 42px;
     height: 42px;
     border-right: #2265d4 1px solid;
   }
   span.buttonText {
     display: inline-block;
     vertical-align: middle;
     padding-left: 7px;
     padding-right: 42px;
     font-size: 14px;
     font-weight: bold;
     /* Use the Roboto font that is loaded in the <head> */
     font-family: 'Roboto', sans-serif;
   }

   /* ---------------------------------- */
   /*       Facebook sign in icon        */
   /* ---------------------------------- */

   #customBtn-facebook {
        display: inline-block;
        background: #2D4373;
        color: white;
        width: 135px;
        border-radius: 5px;
        white-space: nowrap;
      }

   /* --------------------------------------- */
   /*          Twitter sign in icon           */
   /* --------------------------------------- */


   #customBtn-twitter {
      display: inline-block;
      background: #2795E9;
      color: white;
      width: 135px;
      border-radius: 5px;
      white-space: nowrap;
    }

  /* --------------------------------------- */
  /*          Themes autocomplete            */
  /* --------------------------------------- */

  .typeahead,
  .tt-query,
  .tt-hint {
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    outline: none;
  }

  .typeahead {
    background-color: #fff;
  }

  .typeahead:focus {
    border: 2px solid #0097cf;
  }

  .tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .tt-hint {
    color: #999
  }

  .tt-dropdown-menu {
    width: 422px;
    margin-top: 3px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }

  .tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
    color: black;
  }

  .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  .tt-suggestion p {
    margin: 0;
    font-size: 18px;
    text-align: left;
  }

  .twitter-typeahead {
  	width: 100%;
  }
