.container {
  padding-top: 30px;
  padding-bottom:30px;
  border-width: thin;
  border-style: dashed;
  border-color: black;
}

li {
  list-style-type: none;
}

.question-text {
  width: 300px;
  height: 80px;
}

.add-question-field {
  margin: 4px;
}
.themes{
  font-size: 11px;
  font-style: italic;
}
.created-by{
  font-size: 11px;
}
.datetimepicker{
  width: 300px;
}
.voteYes{
  background-color: green;
  padding: 30px, 30px, 30px 50px;
  font-size: 48px;
  font-weight: bold;
  width: 150px;
  text-align: center;
}

.voteYes a{
  text-decoration: none;
  color:black;
}
.voteYes a:hover{
  text-decoration: none;
  color:black;
}
.voteNo{
  background-color: red;
  padding: 30px, 30px, 30px 50px;
  font-size: 48px;
  font-weight: bold;
  width: 150px;
  text-align: center;
}
.voteNo a{
  text-decoration: none;
  color:black;
}
.voteNo a:hover{
  text-decoration: none;
  color:black;
}

.question-themes-list {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}

.theme-link {
  color: black;
  font-size: 11px;
  font-style: italic;
}

.theme-link:hover {
  color: black;
  text-decoration: underline;
}

.relevantInfo{
  color:grey;
  font-size: 11px;
  padding-left: 15px;
}

.view-question-list {
  margin: 10px;
}

.social-list {
  list-style-type: circle;
}

.social-link {
  font-size: 120%;
  margin: 5px;
  font-style: italic;
  color: black;
}

.submit-adjudication{
  margin-left: 60px;
}

.single-question {
  width: 650px;
  margin: 5px 0px;
}

a.question-link {
  display: inline;
}

.small-btn {
  float: right;
}

#profile-pic {
  width: 175px;
  height: 150px;
  padding: 10px;
}

#edit-profile-btn {
  font-size: 10px;
  line-height: 10px;
}

#edit-profile-link {
  color: black;
  border: black solid 1px;
  padding: 0px 8px;
  background-color: rgba(220,220,220,.5);
  border-radius: 50px;
}

#save-profile-btn {
  font-size: 10px;
  line-height: 10px;
}

#save-profile-link {
  color: darkblue;
  border: darkblue solid 1px;
  padding: 0px 8px;
  background-color: rgba(135,206,250,.3);
  border-radius: 50px;
}

#question-record-div {
  margin-top: 15px;
}

/*           Adjudication Page            */
#judge-reason {
  margin: 5px 20px;
  position: relative;
  top: 30px;
  left: 28px;
  color: inherit;
  border-width: thin;
  border-color: #006dcc;
  border-radius: 5px;

}

/*           Edit Question Page            */
#edit-question-headline {
  font-size: 17px;
  width: 650px;
  margin: 10px 0px;
}

#description-label {
  position: relative;
  bottom: 15px;
  margin-top: 10px;
}

#edit-question-text {
  font-size: 14px;
  width: 650px;
  position: relative;
  top: 20px;
  left: 5px;
  margin-top: 0px;
}

#edit-question-themes {
  width: 600px;
}

#admin-console {
  background-color: rgba(184, 230, 230,.2);
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 1px;
  width: 150px;
  float: right;

}
