.container {
  padding-top: 30px;
  padding-bottom:30px;
  border-width: thin;
  border-style: dashed;
  border-color: black;
}

li {
  list-style-type: none;
}

.question-text {
  width: 300px;
  height: 80px;
}

.add-question-field {
  margin: 4px;
}
.themes{
  font-size: 11px;
  font-style: italic;
}
.created-by{
  font-size: 11px;
}
.datetimepicker{
  width: 300px;
}
